<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="compuesto-elemento(elemento)">
        <!-- Puedes personalizar la representación de elementos compuestos aquí -->
        <div th:each="subElemento : ${elemento.elementosHijos}">
            <div th:switch="${subElemento.tipo}">
                <div th:case="'simple'">
                    <span th:text="${subElemento.contenido}"></span>
                </div>
                <div th:case="'compuesto'">
                    <div th:replace="plantilla/compuesto :: compuesto-elemento (elemento=${subElemento})"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>