<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Lista Archivos Composite</title>
</head>
<body>
<h1>Lista Archivos Composite</h1>
<a th:href="@{/createFileForm}" class="btn btn-primary">Crear Archivo</a>
<table>
        <thead>
            <tr>
				<th>Name Folder</th>
                <th>Name File</th>
                <th>Size</th>
                <th>Size Folder</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="archivo : ${listaArchivos}">
                <td th:text="${archivo.nombreArchivo}"></td>
                <td th:text="${archivo.nombreCarpeta}"></td>
                <td th:text="${archivo.tamano}"></td>
                <td th:text="${archivo.tamanoCarpeta}"></td>
            </tr>            
        </tbody>
    </table>
</body>
</html>