<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patrón Composite</title>
</head>
<body>
<h1 th:text="${mensaje}"></h1>
    <div th:each="elemento : ${list}">
        <div th:switch="${elemento.tipo}">
            <div th:case="'simple'">
                <span th:text="${elemento.contenido}"></span>
            </div>
            <div th:case="'compuesto'">
                <div th:replace="plantilla/compuesto :: compuesto-elemento (elemento=${elemento})"></div>
            </div>
        </div>
    </div>
</body>
</html>